<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>collatz</title>
  </head>
  <body>
    <script>
      var worker,lastNum=-1,currentNumber=-1,lastResult=-1;
      async function failJob(num){
        var result=await fetch("http://127.0.0.1:5000/register-disconnect",{
            method:"POST",
            headers:{
            'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                'type':'primes',
                "task": num
            })
        });
        return result;
      }
      window.addEventListener("beforeunload",function(e){
          failJob(currentNumber);
          return "are you sture you want to stop?";
      });
      var isRunning=false;
      var numbersComputed=0;
      
      function startStop(){
        if(isRunning){
          document.getElementById("start_stop").innerHTML='start';
          failJob(lastNum);
          worker.terminate();
          
        }else{//isRunning = false
          document.getElementById("start_stop").innerHTML='stop';
          worker=new Worker("../static/collatzWorker.js");
          worker.onmessage=(e)=>{
            
            var data=JSON.parse(e.data);
            console.log("message is: "+JSON.stringify(data));
            console.log("keys is: "+data["lastNumber"]);
            
            lastNum=data['lastNumber'];
            lastResult=data['lastResult'];
            currentNumber=data['currentNumber'];
            document.getElementById('currentNumber').innerHTML=currentNumber;
            document.getElementById("numbersComputed").innerHTML=++numbersComputed;
          };
        }
        isRunning=!isRunning;
      }
      async function benchmark(){
        var res = await fetch("http://192.168.1.86:5000/sync-benchmark",{
          method:"GET"
        });
        var timeDelay=parseInt(await res.text());
        setTimeout(()=>{
          isRunning=false;
          startStop();
        },timeDelay)
      }
    </script>
    <div class="current-number">
      <p>current number: </p>
      <p id="currentNumber"></p>
    </div>
    <div class="numComputed">
      <p>you have computed: </p>
      <p id="numbersComputed">0</p>
    </div>
    <div class="controls">
      <button id="start_stop" onclick="startStop();">start</button>
    </div>
    <div class="benchmarking">
      <p id="benchStatus">press the button to start</p>
      <button id="benchmarkControl" onclick="benchmark();">press to start</button>
    </div>
  </body>
</html>
